/*
  Resources can be found here:
    - https://windicss.org/utilities/typography.html
    - https://windicss.org/features/directives.html
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Noto+Sans+JP:wght@500;900&display=swap');

.slidev-layout {
  @apply px-14 py-10 text-4xl leading-tight;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;

  li {
    @apply py-[0.4rem] leading-tight;
  }

  h1, h2, h3, h4, p, div {
    @apply select-none leading-tight;
    font-weight: 900;
  }

  h2 {
    @apply text-3xl text-gray-500;
    font-weight: 900;
  }

  p {
    @apply mt-0;
    font-weight: 900;
  }

  h1 {
    @apply text-5xl;
  }

  pre, code {
    @apply text-2xl;
    font-family: 'Fira Code', monospace;
  }

  a {
    color: theme('colors.primary');
  }
}

